<mat-tab-group mat-align-tabs="start" class="space">
    <mat-tab label="Proximas">
        <div fxLayout="row" fxLayoutAlign="start center" class="linha">
            <div style="margin: 0.5%;">
                <mat-card class="example-card" 
                fxFlex="0 1 calc(33.3%)"
                fxFlex.lt-md="0 1 calc(50%)"
                fxFlex.lt-sm="100%">
                    <mat-card-header>
                  
                    </mat-card-header>
                
                    <mat-card-content>
                      <p>
                        <iframe width="450" height="315" src="https://www.youtube.com/embed/hftfDwib1ds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width="450" height="315" src="https://www.youtube.com/embed/hftfDwib1ds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width="450" height="315" src="https://www.youtube.com/embed/hftfDwib1ds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </p>
                    </mat-card-content>
                    
                  </mat-card>
                  
            </div>
        </div> 
    </mat-tab>
    <mat-tab label="Realizadas">Content 2</mat-tab>

  </mat-tab-group>
